body
{
    margin : 0;
    padding: 0;
}

h1
{
    background-color: rgb(96,0,0);
    color : white;
    text-align: center;
    margin : 0;
    padding: 20px;
}

.conteudo
{
    width: 700px;
    border : 1px solid rgb(96,0,0);
    border-radius: 10px;
    margin : 20px auto;
    padding : 10px;

    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    box-shadow: 5px 5px 5px green;
}

img
{
    width: 700px;
}

a
{
    color : blue;
}